<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://socialidiomas.com.br/main/wp-content/uploads/2016/09/banner-sao-paulo.jpg');">
  <div class="banner-content">
    <h1>There is Love in SP</h1>
    <p>Find the most romantic places in São Paulo </p>


<div class="search-bar">
    <form action="/offers" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="Av Paulista">
      <input type="text" name="checkin" class="form-control border-radius input-lg datepicker" placeholder="Checkin">
      <input type="text" name="checkout" class="form-control border-radius input-lg datepicker" placeholder="Checkout">

      <input type="submit" class="btn btn-danger btn-lg" value="Search">
    </form>
  </div>
  </div>
</div>

<h3 class = "text-center">Your <strong id="red-word">Lovespot</strong> in <strong id="red-word">São Paulo</strong>  </h3>
